/*--------------------------------------------------------------
Base styles
--------------------------------------------------------------*/
body,
button,
input,
textarea {
	color: black;
	font-family: 'Asap', sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

body {
	background-color: #EDEDED;
	margin: 0;
	font-family: 'Asap', sans-serif;
}

img {
	display: block;
	width: 100%;
}

header, footer {
    background-color: black;
    height: 100px;
}

.sidebar-right {
	background-color: blue;
	color: white
}

h1 {
	color: red;
	margin: 0;
}

p {
	margin: 0;
}

@media screen and (min-width: 1120px) {

	.content-area {
		display: flex;
	}

	.sidebar-right {
		flex: 0 0 320px;
	}
}

/*--------------------------------------------------------------
Start Header styles
--------------------------------------------------------------*/

.site-header {
    height: 400px; /* R */
    display: flex;
    flex-flow: column;
}

.site-info {
	flex-grow: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
}

.site-title {
    margin: 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.site-description {
	text-align: center;
	color: #F6D200;
	font-size: 1.2em;
	margin-top: -.8em;
	font-style: italic;
}

.main-menu {
	padding: 1em 1em;
	color: black;
	background: #F6D200;
}

@media screen and (min-width: 1120px) {

    .site-title {
        font-size: 4em;
    }
    
}

/*--------------------------------------------------------------
End Header styles
--------------------------------------------------------------*/

/*--------------------------------------------------------------
	START THE POSTS STYLES
--------------------------------------------------------------*/

.main-content-area {
	padding: 2em;
}

.post {
	background-color: white;
	margin-bottom: 1em;
}

.post a {
	color: black;
	text-decoration: none;
}

.post-content {
	padding: 0 40px 20px;
}

.post-content h2 {
	background-color: #F6D200;
	color: black;
	padding: 20px;
	text-align: center;
	margin: 0 -40px 30px;
}

@media screen and (min-width: 810px) {

	.posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.post {
		flex-basis: 49%;
	}

}


@media screen and (min-width: 1120px) {

	.post-one-third {
		flex-basis: 32%;
	}

	.post-half {
		flex-basis: 49%;
	}

	.post-full {
		flex-basis: 100%;
	}

}